{% extends "layout.twig" %}

{% block page_title %}CS-Cart API{% endblock %}
{% block search_input %}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>CS-Cart Core API Documentation</h1>
        <p>Search any function, class, hook, method...</p>

        <form>
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" id="apidoc-search-input" class="form-control input-lg" placeholder="Search">
                </div>
            </form>
        </form>
    </div>
{% endblock %}
